{% extends 'base.html.twig' %}
{% block title %}Новий урок{% endblock %}
{% block body %}
    <style>
        label{
            font-size: 30px;
        }
    </style>
    <div class="container">
    <h1 class="pt-5 pb-5">Ім'я учня:  {{ student.name }}</h1>
{{ form_start(create_lesson) }}
   {{ form_widget(create_lesson) }}
    <input type="submit" class="btn-success" value="Підтвердити" name="Submit" />
    {{ form_end(create_lesson) }}
    </div>
{% endblock %}
{%  block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $("#new_lesson_manual_date").hide();
            $("#new_lesson_select_date").click(function()
            {
                if($("#new_lesson_select_date").is(':checked')){
                    $('label[for="new_lesson_date"]').hide();
                    $("#new_lesson_date").hide();
                    $("#new_lesson_manual_date").show();
               } else{
                    $('label[for="new_lesson_date"]').show();
                    $("#new_lesson_date").show();
                    $("#new_lesson_manual_date").hide();
                }

            });
        });
    </script>
{% endblock %}
