{% extends 'base.html.twig' %}
{% block title %}Розклад на сьогодні{% endblock %}
{% block body %}
    <div class="container" style="background-color: #E6E6FA">
    <table  class="table table-hover">
        {% for message in app.flashes('notice') %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <tr>
            <th>День</th>
            <th>Час</th>
            <th>Аватар</th>
            <th>Ім'я</th>
            <th>Дати завдання</th>
            <th>Перевірити завдання</th>
        </tr>
        {% for lesson in lesssons %}
        <tr>
            {% if lesson.dayOfTheWeek == 1  %}
                <td>Понеділок</td>
            {% elseif lesson.dayOfTheWeek == 2  %}
                <td>Вівторок</td>
            {% elseif lesson.dayOfTheWeek == 3  %}
                <td>Середа</td>
            {% elseif lesson.dayOfTheWeek == 4  %}
                <td>Четвер</td>
            {% elseif lesson.dayOfTheWeek == 5  %}
                <td>П'ятниця</td>
            {% elseif lesson.dayOfTheWeek == 6  %}
                <td>Субота</td>
            {% endif %}
            <td>{{ lesson.time|date('H:i') }}</td>
            {% if lesson.student.avatar is null%}
                <td><img src="{{ asset('avatars/no-avatar-300x300.png') }}" width="200px" height="200px"></td>
            {% else %}
                <td><img src="{{lesson.student.avatar }}" alt="{{ asset('avatars/no-avatar-300x300.png') }}" width="200px" height="200px" ></td>
            {% endif %}
            <td>{{ lesson.student.name }}</td>
            <td><a href="{{path('createLesson',({'id':lesson.student.id}))}}" class="btn btn-outline-primary btn-lg btn-block" role="button">Дати завдання</a></td>
            <td><a href="{{path('checkLesson',({'id':lesson.student.id}))}}" class="btn btn-outline-success btn-lg btn-block" role="button">Перевірити завдання</a></td>
        </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}
