{% extends 'base.html.twig' %}
{% block title %}Today's Schedule{% endblock %}
{% block body %}
    <div class="container" style="background-color: #E6E6FA">
    <table  class="table table-hover">
        {% for message in app.flashes('notice') %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <tr>
            <th>День</th>
            <th>Время</th>
            <th>Аватар</th>
            <th>Имя</th>
            <th>Задать задание</th>
            <th>Проверить задание</th>
        </tr>
        {% for lesson in lesssons %}
        <tr>
            {% if lesson.dayOfTheWeek == 1  %}
                <td>Понедельник</td>
            {% elseif lesson.dayOfTheWeek == 2  %}
                <td>Вторник</td>
            {% elseif lesson.dayOfTheWeek == 3  %}
                <td>Среда</td>
            {% elseif lesson.dayOfTheWeek == 4  %}
                <td>Четверг</td>
            {% elseif lesson.dayOfTheWeek == 5  %}
                <td>Пятница</td>
            {% elseif lesson.dayOfTheWeek == 6  %}
                <td>Суббота</td>
            {% endif %}
            <td>{{ lesson.time|date('H:i') }}</td>
            {% if lesson.student.avatar is null%}
                <td><img src="{{ asset('avatars/no-avatar-300x300.png') }}" width="200px" height="200px"></td>
            {% else %}
                <td><img src="{{ asset('avatars/' ~ lesson.student.avatar) }}" alt="{{ asset('avatars/no-avatar-300x300.png') }}" width="200px" height="200px" ></td>
            {% endif %}
            <td>{{ lesson.student.name }}</td>
            <td><a href="{{path('createLesson',({'id':lesson.student.id}))}}" class="btn btn-outline-primary btn-lg btn-block" role="button">Задать задание <i class="fas fa-book-open"></i></a></td>
            <td><a href="{{path('checkLesson',({'id':lesson.student.id}))}}" class="btn btn-outline-success btn-lg btn-block" role="button">Проверить задание<i class="fas fa-check"></i></a></td>
        </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}
