{% extends 'base.html.twig' %}
{% block title %}Мій профіль{% endblock %}
{% block body %}
    <div class="container">
        <div class="wrapper d-flex">
            <div class="mt-5 ml-3">
                {% if student.avatar is null%}
                    <img src="{{ asset('avatars/no-avatar-300x300.png') }}" width="200px" height="200px" >
                {% else %}
                    <img src="{{ student.avatar }}" width="200px" height="200px" >
                {% endif %}
            </div>
                <div class="ml-3 ml-5">
                    <h1 class="mt-5">ПІБ: {{ student.name }}</h1>
                    Імейл:{{ student.email }}<br>
                    Телефон:{{ student.phone }}<br>

                    <h1 class="mt-3">Час занять:</h1>
                    {% for lesson in student.lessons %}
                        {% if lesson.dayOfTheWeek == 1  %}
                           Понеділок
                        {% elseif lesson.dayOfTheWeek == 2  %}
                            Вівторок
                        {% elseif lesson.dayOfTheWeek == 3  %}
                            Середа
                        {% elseif lesson.dayOfTheWeek == 4  %}
                            Четвер
                        {% elseif lesson.dayOfTheWeek == 5  %}
                            П'ятница
                        {% elseif lesson.dayOfTheWeek == 6  %}
                            Субота
                        {% endif %}
                        {{ lesson.time|date('H:i')}}
                <br>
                    {% endfor %}
                </div>
            </div>
        <div id="columnchart_values" class="{{ student.id }} w-100" style="height: 300px;"></div>
        <hr style="border: 3px solid #4B0082;">
        <h1 class="mt-5 ml-3 text-center mb-5">Домашнє завдання:</h1>
        <div class="navigation">
            {{ knp_pagination_render(lessons) }}
        </div>
        <hr style="border: 3px solid #4B0082;">
        {% for lesson in lessons %}
            <div class="mb-3 ml-3 mr-3">
            <h1>Дата:</h1>
                {{ lesson.date|date("m/d/Y") }}<br>
             <h1>Завдання:</h1>
            {{ lesson.homework }}<br>
                {% if lesson.files is not empty %}
                    <h1>Завантажити ноты:</h1>
                    {% for file in lesson.files %}
                    <a href="{{ file.path}}" class="btn btn-primary">{{ file.name }}</a>
                    {% endfor %}
                {% endif %}
                {% if lesson.youtubeLinks|length < 3 %}
                    {% if lesson.mark is null %}
                    <div id="videoUpload{{ lesson.id }}">
                        <h1>Завантажити відео з ютуб (не більше 3-х):</h1>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="input{{ lesson.id }}" placeholder="Введіть Ютуб посилання"  aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary ajax" type="button" id="{{ lesson.id }}">Завантажити</button>
                            </div>
                        </div>
                    </div>
                        {% endif %}
                {% endif %}
                <div id="ajax-results{{ lesson.id }}">
                    {% for link in lesson.youtubeLinks  %}
                        <iframe class="d-block w-100 videos mt-3 mb-3" id="uploaded" frameborder="0" src="{{ link.path}}" height="475px"></iframe>
                {% endfor %}
                </div>
                <h1>Оцінка:</h1>
                {{ lesson.mark }}
                <h1 class="mt-3">Коментар:</h1>
                {{ lesson.markComment }}
            </div>
            <hr style="border: 3px solid #4B0082;">
        {% endfor %}
        <div class="navigation">
            {{ knp_pagination_render(lessons) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/videoUpload.js') }}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{ asset('js/progressChart.js') }}"></script>
{% endblock %}
