{% extends 'base.html.twig' %}
{% block title %}Список учнів{% endblock %}

{% block body %}
    <div class="container" style="background-color: #E6E6FA" >
    <table class="table table-hover">
        <tr>
            <th>Аватар</th>
            <th>Ім'я</th>
            <th>Імейл</th>
            <th>Телефон</th>
            <th>Перший урок</th>
            <th>Час</th>
            <th>Другий урок </th>
            <th>Час</th>
        </tr>
        {% for student in students %}
               <tr>
                   {% if student.avatar is null%}
                    <th>
                        <a href="{{path('editStudent',({'id':student.id}))}}">
                        <img src="{{ asset('avatars/no-avatar-300x300.png') }}" width="200px" height="200px" >
                        </a>
                    </th>
                {% else %}
                 <th>
                     <a href="{{path('editStudent',({'id':student.id}))}}">
                     <img src="{{ asset('avatars/' ~ student.avatar) }}" alt="{{ asset('avatars/no-avatar-300x300.png') }}" width="200px" height="200px" >
                     </a>
                 </th>
                {% endif %}
                <td>{{ student.name }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.phone}}</td>
                {% for lesson in student.lessons %}
                {% if lesson.dayOfTheWeek == 1  %}
                <td>Понеділок</td>
                {% elseif lesson.dayOfTheWeek == 2  %}
                    <td>Вівторок</td>
                {% elseif lesson.dayOfTheWeek == 3  %}
                    <td>Середа</td>
                {% elseif lesson.dayOfTheWeek == 4  %}
                    <td>Четвер</td>
                {% elseif lesson.dayOfTheWeek == 5  %}
                    <td>П'ятниця</td>
                {% elseif lesson.dayOfTheWeek == 6  %}
                    <td>Субота</td>
                {% endif %}

                <td>{{lesson.time|date('H:i') }}</td>
                {% endfor %}
            </tr>

        {% endfor %}
    </table>
    </div>
{% endblock %}
