{% extends 'base.html.twig' %}
{% block title %}Список учеников{% endblock %}

{% block body %}
    <div class="container" style="background-color: #E6E6FA" >
    <table class="table table-hover">
        <tr>
            <th>Аватар</th>
            <th>Имя</th>
            <th>Имейл</th>
            <th>Телефон</th>
            <th>Первый урок</th>
            <th>Время</th>
            <th>Второй урок </th>
            <th>Время</th>
        </tr>
        {% for student in students %}
               <tr>
                   {% if student.avatar is null%}
                    <th>
                        <a href="{{path('editStudent',({'id':student.id}))}}">
                        <img src="{{ asset('avatars/no-avatar-300x300.png') }}" width="200px" height="200px" >
                        </a>
                    </th>
                {% else %}
                 <th>
                     <a href="{{path('editStudent',({'id':student.id}))}}">
                     <img src="{{ asset('avatars/' ~ student.avatar) }}" alt="{{ asset('avatars/no-avatar-300x300.png') }}" width="200px" height="200px" >
                     </a>
                 </th>
                {% endif %}
                <td>{{ student.name }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.phone}}</td>
                {% for lesson in student.lessons %}
                {% if lesson.dayOfTheWeek == 1  %}
                <td>Понедельник</td>
                {% elseif lesson.dayOfTheWeek == 2  %}
                    <td>Вторник</td>
                {% elseif lesson.dayOfTheWeek == 3  %}
                    <td>Среда</td>
                {% elseif lesson.dayOfTheWeek == 4  %}
                    <td>Четверг</td>
                {% elseif lesson.dayOfTheWeek == 5  %}
                    <td>Пятница</td>
                {% elseif lesson.dayOfTheWeek == 6  %}
                    <td>Суббота</td>
                {% endif %}

                <td>{{lesson.time|date('H:i') }}</td>
                {% endfor %}
            </tr>

        {% endfor %}
    </table>
    </div>
{% endblock %}
