{% extends 'base.html.twig' %}
{% block title %}List of Students{% endblock %}

{% block body %}
    <div class="container" >
    <table class="table table-hover">
        <tr>
            <th>Avatar</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Lesson One</th>
            <th>Time</th>
            <th>Lesson Two </th>
            <th>Time</th>
        </tr>
        {% for student in students %}
               <tr>
                   {% if student.avatar is null%}
                    <td>
                        <a href="{{path('editStudent',({'id':student.id}))}}">
                        <img src="{{ asset('avatars/no-avatar-300x300.png') }}" width="200px" height="200px" >
                        </a>
                    </td>
                {% else %}
                 <td>
                     <a href="{{path('editStudent',({'id':student.id}))}}">
                     <img src="{{ asset('avatars/' ~ student.avatar) }}" alt="{{ asset('avatars/no-avatar-300x300.png') }}" width="200px" height="200px" >
                     </a>
                 </td>
                {% endif %}
                <td>{{ student.name }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.phone}}</td>
                {% for lesson in student.lessons %}
                {% if lesson.dayOfTheWeek == 1  %}
                <td>Monday</td>
                {% elseif lesson.dayOfTheWeek == 2  %}
                    <td>Tuesday</td>
                {% elseif lesson.dayOfTheWeek == 3  %}
                    <td>Wednesday</td>
                {% elseif lesson.dayOfTheWeek == 4  %}
                    <td>Thursday</td>
                {% elseif lesson.dayOfTheWeek == 5  %}
                    <td>Friday</td>
                {% elseif lesson.dayOfTheWeek == 6  %}
                    <td>Saturday</td>
                {% endif %}

                <td>{{lesson.time|date('H:i') }}</td>
                {% endfor %}
            </tr>

        {% endfor %}
    </table>
    </div>
{% endblock %}
