{{ form_start(form) }}
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    {{ form_label(form.path) }}
    {{ form_widget(form.path) }}
    <button class="btn">{{ button_label|default('Сохранить') }}</button>
{{ form_end(form) }}
