{{ form_start(form) }}
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    <button class="btn btn-warning edit mt-3">{{ button_label|default('Зберегти') }}</button>
{{ form_end(form) }}
