{% extends 'base.html.twig' %}

{% block title %}Список файлів{% endblock %}

{% block body %}
    <div class="container pt-3">
    <h1>Список файлів:</h1>

    <table class="table">
        <thead>
            <tr>
                <th>№</th>
                <th>Ім'я</th>
                <th>Дія</th>
            </tr>
        </thead>
        <tbody>
        {% for file in files %}
            <tr>
                <td>{{ file.id }}</td>
                <td>{{ file.name }}</td>
                <td>
                    <a href="{{ path('file_show', {'id': file.id}) }}" class="btn btn-primary mr-3">показати</a>
                    <a href="{{ path('file_edit', {'id': file.id}) }}"  class="btn btn-warning">редагувати</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">не знайдено записів</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('file_new') }}" class="btn btn-success">Додати новий</a>
    </div>
{% endblock %}
