{# ./templates/default/mypdf.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Title of the PDF</title>
</head>
<body>
<style>
    body {
        font-family: DejaVu Sans, serif;
    }
    #table{
        max-width: 2480px;
        width:100%;
        border: 1px solid black;
    }
    #table td{
        width: auto;
        overflow: hidden;
        word-wrap: break-word;
        border: 1px solid black;
    }

    th,tr{
        border: 1px solid black;
    }


</style>
    <h1> Отчет класса Черкашина Александра Александровича за {{ year}}&nbsp;год месяц {{ month }}</h1>

    <table id="table" cellspacing="0">
        <thead>
        <tr>
            <th width="130px">Имя</th>
            <th width="100px">Дата</th>
            <th width="500px">Задание</th>
            <th width="200px">Комментарий</th>
            <th width="10px">Оценка</th>
        </tr>
        </thead>
        <tbody>
    {% for lesson in data %}
        <tr>
            <td>{{ lesson.student.name }}</td>
            <td>{{ lesson.date|date("m/d/Y") }}</td>
            <td>{{ lesson.homework }}</td>
            <td>{{ lesson.markComment}}</td>
            <td>{{ lesson.mark}}</td>
        </tr>
        <tr>
            <td colspan="5">Видео отчет:</td>
        </tr>
        {% for link in lesson.youtubeLinks %}
                <tr>
                    <td colspan="5">{{ link.path }}</td>
                </tr>
        {% endfor %}
        <tr>
            <td colspan="5" style="height:100px;"></td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</body>
</html>
